#cpanel{
	background-color: #333;
	color: #cecece;
	padding-top: 8px;
/*	padding-bottom: 7px;*/
	font-family: "Arial";
	font-size: 10pt;
	letter-spacing: 0.9px;
	padding-left: 4px;
	min-height: 22px;
	width: 100%;
	position: fixed;
}

#cpanel .cpspan{
	padding-top: 8px;
	padding-bottom: 7px;
	padding-right: 10px;
	padding-left: 10px;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
}

#cpanel .bordered{
	border-right: 1px solid #656565;
}

#cpanel .cpspan:hover{
	background-color: #555;
}

#cpanel ul{
	list-style: none;
	margin: 0px;
	padding-left: 0px;
}

#cpanel ul li{
	float: left;
}

#cpanel a{
	color: #cecece;
	text-decoration: none;
}