body {
	background-color: #9E9E9E;
	background-image: url("../img/bg_brushed_metal_4.png");
	margin: 0px;
}

.main-panel{
	padding-top: 70px;
}

fieldset {
	border:1px dashed #333;
	padding:20px;
	margin-top:50px;
	margin-bottom:20px;
	-moz-border-radius: 3px 3px 3px 3px;
	/* Border radius order: top-left top-right bottom-right bottom-left */
	-webkit-border-radius: 3px 3px 3px 3px;
	background-color: #6987A9;
}

.barcode{
	display: inline-block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 5px;
	background-color: #fff;
}

.center{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.divide{
	border-top: 1px solid black;
	margin: 15px 0px 15px 0px;
}

hr{
	border-color: #333;
}

legend {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 100%;
	font-weight: bold;
	letter-spacing: 1.1px;
	line-height: 1.1;
	color:#000;
	text-shadow: none;
/*	background: #666;*/
/*	border: 1px solid #333;*/
	padding: 2px 6px;
}

h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 175%;
	letter-spacing: -1px;
	font-weight: normal;
	line-height: 1.1;
	color:#333;
}

#message_container{
	width: 1024px;
	margin-left:auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 20px;
}

#message_container .message{
	width: 100%;
	text-align:center;
	background-color: #FFFD96;
	border: 2px solid #555;
	margin-bottom: 10px;
}

#message_container table{
	margin:5px auto 5px auto;
}

#message_container a.remove_warning:hover,
#message_container a.remove_warning:visited,
#message_container a.remove_warning{
	font-family: Helvetica, Arial, sans-serif;
	float:right;
	text-decoration: none;
	color:#000;
	margin:5px 5px 0px 0px;
}

#message_container .error_img{
	height: 15px;
	width: 15px;
}

#container {
	padding: 25px;
	width: 1024px;
	margin:auto;
	background-image: none;
	background-color: #89A7C9;
	border-style: solid;
	border-width: 3px;
	border-color: #444;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	text-shadow: 0px 1px 0px #bbb;
	box-shadow: 3px 3px 3px #444;
}

#top {
/*	width:680px;*/
	height:50px;
}

#equipment_data{
	display: none;
}

#client_data, #equipment_data {
	padding-top:30px;
	border-collapse: collapse;
}

.clear {
	clear:both;
}
.holder {
	background-color:#fff;
}

#client_data input[type=text],
#client_data textarea{
	padding: 5px;
	font-family: Helvetica, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid black;
}

#client_data input#first-name,
#client_data input#last-name{
	text-transform: capitalize;
}

/*#client_data input[type=text]:hover,
#client_data textarea:hover{
	background-color: #FCFFBF;
}*/

#client_data input[type=text]:focus,
#client_data textarea:focus{
	background-color: #FCFFBF;
}

#client_data textarea{
	width: 850px;
	height: 80px;
}

.client_data_table{
	padding-left: 50px;
	padding-right: 50px;
}

.client_data_table td.client_right{
/*	text-align: center;*/
	padding-left: 110px;
}

.client_data_table tr.pad_row td{
	padding-bottom: 10px;
}

#equipment_table{
	margin-left: auto;
	margin-right: auto;
}

#equipment_data input[type=text],
#equipment_data textarea{
	padding: 5px;
	font-family: Helvetica, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid black;
}

/*#equipment_data input[type=text]:hover,
#equipment_data textarea:hover{
	background-color: #FCFFBF;
}*/

#equipment_data input[type=text]:focus,
#equipment_data textarea:focus{
	background-color: #FCFFBF;
}

#equipment_data textarea{
	width: 660px;
	height: 80px;
}

.label{
	font-family: Helvetica, Arial, Helvetica, sans-serif;
	font-size: 14pt;
	padding-left: 5px;
}

.required{
	color:red;
}

.footer_data{
	margin-top: 30px;
	margin-bottom: 20px;
	text-align:center;
}

.plus_icon{
	height: 20px;
	width: 20px;
}

.add_item{
	text-decoration: none;
	font-family: Helvetica, Arial, Helvetica, sans-serif;
	font-size: 12pt;
}

#add_equipment_container{
	display: inline-block;
	background-color: #19BD4A;
	border: 2px solid #DDD;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	text-shadow: none;
}

#add_equipment_container:hover{
	background-color: #148035;
	border-color: #333;
	color: #333;
	text-decoration: none;
	color: #DDD;
}

#add_equipment_table{
	padding-left: 15px;
	padding-right: 15px;
	color: black;
}

#add_equipment_table td{
	padding-top: 10px;
	padding-bottom: 10px;
}

/*

.add_item:hover{
	text-decoration: underline;
}

.add_item:visited{
	color: black;
}
*/

#Equipment_DEFAULT {
	display: none;
}

.equipment{
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #333;
	background-color: #888;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 15px;
}

.equipment_banner{
	min-width: 720px;
	text-transform: capitalize;
}

.inactive,
.expansion{
	cursor: pointer;
	background: url("/cdn/img/arrows.png") no-repeat 0 -33px;
	padding-left: 25px;
}

.active,
.expanded{
	background-position: 0 5px;
}

.remove_equipment{
	padding: 5px;
	letter-spacing: 1.0px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12pt;
	margin-top: 15px;
	border: 2px solid #333;
	border-collapse: collapse;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	display: inline-block;
	cursor: pointer;
	background-color: #D60202;
	color: #eee;
	float:right;
}

.remove_equipment:hover{
	border-color: #eee;
	background-color: #FF4747;
	color: #ddd;
}

.remove_equipment span{
	font-weight: bold;
	padding-left: 5px;
}

.remove_equipment img{
	height: 20px;
	width: 20px;
}

.div_select {
	background-color: #fff;
	border: 1px solid black;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.div_select a,
.div_select a:visited{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	text-decoration: none;
	color: black;
}


.div_select a:hover{
	background-color: #bbb;
}

.small_dropdown_arrow{
	float: right;
	width: 16px;
	height: 16px;
	background: url("/cdn/img/small_arrow.gif") no-repeat 50% 50%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.dropdown_a{
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 5px;
}

.genHeader, .menuHeader{
	text-shadow: none;
}

legend{
	padding: 0px;
}

legend span{
	display: inline-block;
	border: inherit;
	padding: 12px 10px;
	cursor: pointer;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-top-left-radius: 10px;
	-moz-border-top-right-radius: 10px;
	background-color: #395779;
	border: 1px solid #222;
}

legend span.current{
	color: black;
	background-color: #6987A9;
	border-bottom: none;
}

legend span:hover{
	color: #c3c3c3;
/*	background-color: #222;*/
}

div.growlUI { background: url(/cdn/img/check36.png) no-repeat 10px 10px; }
div.growlUI h1, div.growlUI h2 {
	color: white; padding: 5px 5px 5px 75px; text-align: left
}