.big-search{
	padding: 8px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20pt;
	border: 2px solid #333;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.search_container{
	text-align: center;
}

.default-search-text{
	color: #b3b3b3;
}

.ticket_data{
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	text-shadow: none;
	padding: 25px;
	border: 2px solid #333333;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.title{
	font-size: 24pt;
}

.display_id{
	font-size: 14pt;
}

.user_col{
	width: 40%;
	vertical-align: top;
/*	border-right: 1px dotted #333333;*/
}
